<style>
  .massage-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="content">
  <p>Olá {{name}}!</p>
  <br/>
  <P>Para redefinir sua senha, clique no link abaixo:</P>
  <p>Se realmente foi você que solicitou,clique no link abaixo para redifinir a senha</p>
  <p>
    <a href="{{link}}">Redefinir senha</a>
  </p>
  <p>Se você não solicitou a redefinição de senha, ignore este e-mail.</p>
  <br/>
  <p>Atenciosamente,</p>
  <p>Equipe API Vendas</p>
</div>
